body {
  color: red;
  background-color: yellow;
  border: 1px solid blue;
}

h1 {
  color: green;
}

h2 {
  font-family: cursive, sans-serif;
  color: #999;
}

#ric {
  font-family: cursive;
  color: white;
}

.todcolor {
  color: green;
  border: 1px solid blue;
}

.todshadow {
  text-shadow: .2em .2em silver;
}

.todfont {
  font-family: cursive;
}